<div class="row">
  <div class="col-lg-12">
    <h1>Equipes</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="table-responsive">
      <table class="table table-houver">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Informações</th>
            <th>Qnt de integrantes</th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
          <% @teams.each do |team| %>
            <tr>
              <td><%= team.name %></td>
              <td><%= team.information %></td>
              <td><%= team.users.count %></td>
              <td><%= link_to 'Visualizar', team %></td>
              <td><%= link_to 'Editar', edit_team_path(team) if is_member_of_team?(team) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= link_to 'Criar Equipe', new_team_path, class: "btn btn-primary" unless current_user.team %>
  </div>
</div>
