<div class="row">
  <div class="col-lg-12">
    <h1><%= @team.name %></h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <p>
      <strong>Informações:</strong>
      <%= @team.information %>
    </p>

    <p>
      <strong>Líder:</strong>
      <%= @team.leader.name %>
    </p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-lg-12">
    <p>
      <h2>Integrantes:</h2>
      <ul>
        <% @team.users.each do |user| %>
          <li><%= link_to(user.name, user) %></li>
        <% end %>
      </ul>
    </p>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-lg-12">
  <h2>Projeto</h2>
  <%= @team.project.present? ? @team.project.title : "Esta equipe não possui projeto associado ainda." %>

  <% if @team.project.present? %>
    <strong>Descrição do projeto:</strong>
    <p>
      <%= @team.project.description %>
    </p>
  <% elsif current_user.team == @team %>
    <p>
      <%= link_to 'Criar Projeto', new_project_path(team_id: @team) %>
    </p>
  <% end %>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-lg-12">
    <h2>O que a equipe procura: </h2>

    <% if @team.observations.present? %>
      <p class="white-space-pre-wrap"><%= @team.observations %></p>
    <% else %>
      <i>Nenhuma informação sobre o que este time procura...</i>
    <% end %>

  </div>

  <div class="col-lg-12 form-bottom">
    <%= link_to 'Editar', edit_team_path(@team), class: "btn btn-primary" if is_member_of_team?(@team) %>
    <%= link_to 'Voltar', teams_path, class: "btn btn-default" %>
  </div>
</div>
