<p id="notice"><%= notice %></p>


<div class="row">
  <div class="col-lg-12">
    <h1>Informações da equipe <%= @team.name %></h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <p>
      <strong>Informações:</strong>
      <%= @team.information %>
    </p>

    <p>
      <strong>Líder:</strong>
      <%= @team.leader.name %>
    </p>

    <% if @team.project.present? %>
      <p>
        <strong>Projeto:</strong>
        <%= @team.project.title %>
      </p>

      <p>
        <strong>Descrição do projeto:</strong>
        <%= @team.project.description %>
      </p>
    <% else %>
      <p>
        Esta equipe não possui projeto associado ainda.
      </p>
      <% if @current_user.teams.present? && @current_user.teams.first.id == @team.id %>
        <%= link_to 'Criar Projeto', new_project_path(team_id: @team), class: "btn btn-primary" %>
      <% end %>
    <% end %>

    <%= link_to 'Editar', edit_team_path(@team), class: "btn btn-primary" %>
    <%= link_to 'Voltar', teams_path, class: "btn btn-default" %>

  </div>
</div>

<div class="row">
  <div class="col-lg-12">

    <table class="table table-hover table-striped">
      <tr>
        <th>Habilidade necessária</th>
        <th>Nível</th>
        <th>Quantidade</th>
      </tr>
      <%= TeamRequirement.find_each do |req| %>
        <tr>
          <td><%= req.skill.name %></td>
          <td><%= req.skill_level.name %></td>
          <td><%= req.count %></td>
       </tr>
      <% end %>
    </table>

  </div>
</div>

<%= link_to 'Editar habilidades necessárias', team_requirements_path, class: "btn btn-default" %>
