<%= form_with(model: Comment.new, url: [@post, Comment.new], local: true) do |form| %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :comment_description %>
  </div>

  <div class="field">
    <%= form.hidden_field(:project_id, value: @project.id) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
