<%= form_with(model: skill_level, local: true) do |form| %>
  <% if skill_level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(skill_level.errors.count, "error") %> prohibited this skill_level from being saved:</h2>

      <ul>
      <% skill_level.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :value %>
    <%= form.number_field :value, id: :skill_level_value %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :skill_level_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :skill_level_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
