<h1>Skill Levels</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @skill_levels.each do |skill_level| %>
      <tr>
        <td><%= skill_level.id %></td>
        <td><%= skill_level.name %></td>
        <td><%= skill_level.description %></td>
        <td><%= link_to 'Exibir', skill_level, class: "btn btn-default" %></td>
        <td><%= link_to 'Editar', edit_skill_level_path(skill_level), class: "btn btn-default" %></td>
        <td><%= link_to 'Remover', skill_level, method: :delete, data: { confirm: 'Voce tem certeza?' }, class: "btn btn-default" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Skill Level', new_skill_level_path, class: "btn btn-default" %>
