<p id="notice"><%= notice %></p>

<h1>Team Requirements</h1>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Skill</th>
      <th>Skill level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @team_requirements.each do |team_requirement| %>
      <tr>
        <td><%= team_requirement.skill.name %></td>
        <td><%= team_requirement.skill_level.name %></td>
        <td><%= link_to 'Exibir', team_requirement, class: "btn btn-default" %></td>
        <td><%= link_to 'Editar', edit_team_requirement_path(team_requirement), class: "btn btn-default" %></td>
        <td><%= link_to 'Remover', team_requirement, method: :delete, data: { confirm: 'Voce tem certeza?' }, class: "btn btn-default" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team Requirement', new_team_requirement_path, class: "btn btn-default" %>
