<p>
  <strong>Quantidade:</strong>
  <%= @team_requirement.count %>
</p>

<p>
  <strong>Skill:</strong>
  <%= @team_requirement.skill.name %>
</p>

<p>
  <strong>Skill level:</strong>
  <%= @team_requirement.skill_level.name %>
</p>

<%= link_to 'Editar', edit_team_requirement_path(@team_requirement), class: "btn btn-default" %> |
<%= link_to 'Voltar', team_requirements_path, class: "btn btn-default" %>
