<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-lg-12">
    <h1>Informações de <%= @user.name %></h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <h2>Habilidades</h2>

    <% @user.user_skills.each do |us_skill| %>
      <p>
        <li class="fa fa-diamond">
          <b><%= us_skill.skill.name %></b> -
          <i><%= us_skill.skill_level.name %></i>
        </li>
        <%= link_to 'Editar', edit_user_skill_path(us_skill) %>
        <%= link_to 'Remover', us_skill, method: :delete, data: { confirm: 'Voce tem certeza?' } %>
      </p>
    <% end %>

    <% if @current_user.id == @user.id %>
      <%= render 'user_skills/form', {user_skill: @user_skill}%>
    <% end %>


    <%  if current_user == @user %>
      <%= link_to 'Adicionar habilidade', new_user_skill_path, class: "btn btn-default" %>
      <%= link_to 'Editar habilidades', user_skills_path, class: "btn btn-default" %>
    <% end %>
    <%= link_to 'Voltar', users_path, class: "btn btn-default" %>
  </div>
</div>
