<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-lg-12">
    <h1>Informações de <%= @user.name %></h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <h2>Habilidade</h2>

    <ul class="user-skill fa-ul">
      <%= UserSkill.where( user_id: current_user ).find_each do |user_skill| %>
        <li class="fa fa-diamond">
          <b><%= user_skill.skill.name %></b> -
          <i><%= user_skill.skill_level.name %></i>
        </li>
      <% end %>
    </ul>

    <%= link_to 'Adicionar habilidade', new_user_skill_path, class: "btn btn-default" %>
    <%= link_to 'Editar habilidades', user_skills_path, class: "btn btn-default" %>
    <%= link_to 'Voltar', users_path, class: "btn btn-default" %>
  </div>
</div>
