<div class="row">
  <div class="col-lg-12">
    <h1>Informações de <%= @user.name %></h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong>Time:</strong>
      <%= link_team(@user.team) %>
    </p>

    <hr>

    <h2>Informações pessoais</h2>

    <% if @user.personal_information.blank? %>
      <% if is_current_user?(@user) %>
        <p><i>Adicione informações sobre seus conhecimentos e o que procurar para melhorar a chance de encontrar um time</i></p>
      <% else %>
        <p><i>Este participante não adicionou nenhuma descrição...</i></p>
      <% end %>
    <% else %>
      <p class="white-space-pre-wrap"><%= @user.personal_information %></p>
    <% end %>

    <hr>

    <% if is_current_user?(@user) %>
      <%= link_to 'Editar', edit_user_path, class: "btn btn-default" %>
    <% else %>
      <%= link_to 'Voltar', users_path, class: "btn btn-default" %>
    <% end %>

  </div>
</div>
