<p id="notice"><%= notice %></p>

<p>
  <strong>Level:</strong>
  <%= @user_skill.skill_level.name %>
</p>

<p>
  <strong>Users:</strong>
  <%= @user_skill.user.name %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @user_skill.skill.name %>
</p>

<%= link_to 'Editar', edit_user_skill_path(@user_skill), class: "btn btn-default" %> |
<%= link_to 'Voltar', user_skills_path, class: "btn btn-default" %>
