<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @invitation.state %>
</p>

<p>
  <strong>Users:</strong>
  <%= @invitation.user.name %>
</p>

<p>
  <strong>Teams:</strong>
  <%= @invitation.team.name %>
</p>

<%= link_to 'Aceitar', accept_invitation_path(@invitation), method: :post, class: "btn btn-default" %>
<%= link_to 'Voltar', invitations_path, class: "btn btn-default" %>
