<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @invitation.state %>
</p>

<p>
  <strong>Users:</strong>
  <%= @invitation.user %>
</p>

<p>
  <strong>Teams:</strong>
  <%= @invitation.team %>
</p>

<%= link_to 'Editar', edit_invitation_path(@invitation), class: "btn btn-default" %> |
<%= link_to 'Voltar', invitations_path, class: "btn btn-default" %>
