<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form_group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :project_title, class: "form-control" %>
  </div>

  <div class="form_group">
    <%= form.label :description %>
    <%= form.text_field :description, id: :project_description, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.hidden_field(:team_id, value: @team_id) %>
  </div>

  <div class="actions">
    <%= form.submit "Atualizar", class: "btn btn-default" %>
  </div>
<% end %>
