<div class="row">
  <div class="col-lg-12">
    <h1>Informações da projeto <%= @project.title %></h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <p>
      <strong>Descrição:</strong>
      <%= @project.description %>
    </p>

    <p>
      <strong>Equipe responsável:</strong>
      <% if @project.team.present? %>
        <%= @project.team.name %>
      <% elsif @current_user.teams.present? %>
        <%= link_to 'Aceitar Projeto', accept_project_path(@project), class: "btn btn-default" %>
      <% else %>
        Sem time
      <% end %>
    </p>

    <p>
      <strong>Idealizador do projeto:</strong>
      <%= @project.user.present? ? @project.user.name : "Sem idealizador" %>
    </p>

    <h2>Comentários</h2>

    <% @comments.each do |comment| %>
      <div class="comment">
        <div>
          <div class="comment-avatar"></div>
        </div>
        <div>
          <div class="comment-name"><%= comment.user.name %></div>
          <div class="comment-description"><%= comment.description %></div>
        </div>
      </div>
    <% end %>

    <hr>

    <%= form_with(model: Comment.new, url: [@post, Comment.new], local: true) do |form| %>
      <div class="row">
        <div class="col-lg-4">
          <div class="field">
            <%= form.label "Comentário" %>
            <%= form.text_field :description, id: :comment_description %>
          </div>

          <div class="field">
            <%= form.hidden_field(:project_id, value: @project.id) %>
          </div>

          <div class="actions">
            <%= form.submit "Adicionar Comentário" %>
          </div>
        </div>
      </div>
    <% end %>

    <hr>

    <div class="row">
      <div class="col-lg-4 form-bottom">
        <%= link_to 'Editar', edit_project_path(@project), class: "btn btn-primary" %>
        <%= link_to 'Voltar', projects_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>
