<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-lg-12">
    <h1>Informações da projeto <%= @project.title %></h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <p>
      <strong>Descrição:</strong>
      <%= @project.description %>
    </p>

    <p>
      <strong>Time responsável:</strong>
      <% if @project.team.present? %>
        <%= @project.team.name %>
      <% elsif @current_user.teams.present? %>
        <%= link_to 'Aceitar Projeto', accept_project_path(@project), class: "btn btn-default" %>
      <% else %>
        Sem time
      <% end %>
    </p>

    <p>
      <strong>Idealizador do projeto:</strong>
      <%= @project.user.name %>
    </p>

    Comentários

    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Descrição</th>
            <th>Usuario</th>
          </tr>
        </thead>

        <tbody>
          <% @comments.each do |comment| %>
            <tr>
              <td><%= comment.description %></td>
              <td><%= comment.user.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <%= render 'comments/form', {project: @project} %>

    <%= link_to 'Editar', edit_project_path(@project), class: "btn btn-primary" %>
    <%= link_to 'Voltar', projects_path, class: "btn btn-default" %>
  </div>
</div>
