<!DOCTYPE html>
<html>
  <head>
    <title>QueroTime</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <!-- <a class="navbar-left brand" href="/"><%= image_tag "logo.png", height: "50" %></a> -->
          <a class="brand" href="/">Quero Equipe</a>
        </div>
        <!-- /container -->
      </div>
      <!-- /navbar-inner -->
    </div>
    <!-- /navbar -->

    <div class="subnavbar">
      <div class="subnavbar-inner">
        <div class="container">
          <ul class="mainnav">
            <li>
              <%= link_to current_user do %>
              <i class="fa fa-id-card-o fa-fw"></i><span>Perfil</span>
              <% end %>
            </li>
            <li>
              <a href="/teams"><i class="icon-group"></i><span>Equipes</span></a>
            </li>
            <li>
              <a href="/users"><i class="icon-user"></i><span>Participantes</span></a>
            </li>

            <li>
              <a href="/projects"><i class="icon-book"></i><span>Projetos</span></a>
            </li>

            <li>
              <a href="/invitations"><i class="icon-bell"></i><span>Convites</span></a>
            </li>
          </ul>
        </div><!-- /container -->
      </div>
    </div> <!-- /subnavbar-inner -->

    <div class="main">
      <div class="main-inner">
        <div class="container">
          <% if notice.present? %>
          <div class="row">
            <div class="col-lg-12">
              <div class="alert alert-info top-notice">
                <%= notice %>
              </div>
            </div>
          </div> <!-- row -->
          <% end %>
          <div class="row page-body">
            <div class="col-lg-12">
              <%= yield %>
            </div>
          </div> <!-- row -->
        </div><!-- container -->
      </div> <!-- main-inner -->
    </div> <!-- main -->

  </body>
</html>
